body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1113px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u35 {
  position:absolute;
  left:-1px;
  top:0px;
  visibility:hidden;
}
#u35_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1115px;
  height:580px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1114px;
  height:422px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:130px;
  width:1114px;
  height:422px;
  display:flex;
  font-size:12px;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1114px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#F60068;
  text-align:right;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:60px;
  width:1114px;
  height:70px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#F60068;
  text-align:right;
}
#u37 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1114px;
  height:60px;
  background:inherit;
  background-color:rgba(80, 57, 83, 0.988235294117647);
  border:none;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:1114px;
  height:60px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u39 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:189px;
  width:1px;
  height:20px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u39 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:201px;
  width:904px;
  height:280px;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:35px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:35px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:0px;
  width:210px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u42 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:35px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:0px;
  width:189px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u43 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u43_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:35px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:0px;
  width:124px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:0px;
  width:67px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u45 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:35px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:314px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:35px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:35px;
  width:210px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
}
#u47 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:35px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:35px;
  width:189px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
}
#u48 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48_img.mouseOver {
}
#u48.mouseOver {
}
#u48_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:35px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:35px;
  width:124px;
  height:35px;
  display:flex;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u49 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:35px;
  width:67px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:35px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:314px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:35px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:70px;
  width:210px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u52 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:35px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:70px;
  width:189px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
}
#u53 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:35px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:70px;
  width:124px;
  height:35px;
  display:flex;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:70px;
  width:67px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u55 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u55_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:35px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:314px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u56 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:35px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:105px;
  width:210px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:35px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:105px;
  width:189px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_img.mouseOver {
}
#u58.mouseOver {
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:35px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:105px;
  width:124px;
  height:35px;
  display:flex;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:105px;
  width:67px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:35px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:314px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:35px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:140px;
  width:210px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:35px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:140px;
  width:189px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u63_img.mouseOver {
}
#u63.mouseOver {
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:35px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:140px;
  width:124px;
  height:35px;
  display:flex;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:140px;
  width:67px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:35px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:314px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:35px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:175px;
  width:210px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u67 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:35px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:175px;
  width:189px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_img.mouseOver {
}
#u68.mouseOver {
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:35px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:175px;
  width:124px;
  height:35px;
  display:flex;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:175px;
  width:67px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:35px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:314px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:35px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:210px;
  width:210px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:35px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:210px;
  width:189px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_img.mouseOver {
}
#u73.mouseOver {
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:35px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:210px;
  width:124px;
  height:35px;
  display:flex;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:210px;
  width:67px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:35px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:314px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:35px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:245px;
  width:210px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline ;
  color:rgba(0, 0, 255, 0.996078431372549);
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:35px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:245px;
  width:189px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_img.mouseOver {
}
#u78.mouseOver {
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:35px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:245px;
  width:124px;
  height:35px;
  display:flex;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:245px;
  width:67px;
  height:35px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(140, 140, 140, 0.996078431372549);
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:54px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:68px;
  width:61px;
  height:54px;
  display:flex;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_img.mouseOver {
}
#u81.mouseOver {
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#503953;
  text-align:right;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:87px;
  width:82px;
  height:18px;
  display:flex;
  font-family:'Yekan Bakh FaNum Bold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#503953;
  text-align:right;
}
#u82 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 128, 128, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:75px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 128, 128, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u83.mouseOver {
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:179px;
  width:141px;
  height:20px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:right;
}
#u84 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.47843137254902);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:555px;
  width:466px;
  height:22px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 152, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:242px;
  width:92px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u86.selected {
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(219, 94, 138, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:242px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u87.selected {
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:242px;
  width:63px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u88.selected {
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 152, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:278px;
  width:92px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u89.selected {
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(219, 94, 138, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:278px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u90.selected {
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:278px;
  width:63px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u91.selected {
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 152, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:313px;
  width:92px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u92.selected {
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(219, 94, 138, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:313px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u93.selected {
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:313px;
  width:63px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u94_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u94.selected {
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 152, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:348px;
  width:92px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u95.selected {
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(219, 94, 138, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:348px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u96.selected {
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:348px;
  width:63px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u97.selected {
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 152, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:383px;
  width:92px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u98_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u98.selected {
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(219, 94, 138, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:383px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u99 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u99_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u99.selected {
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:383px;
  width:63px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u100_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u100.selected {
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 152, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:418px;
  width:92px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u101_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u101.selected {
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(219, 94, 138, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:418px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u102_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u102.selected {
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:418px;
  width:63px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u103_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u103.selected {
}
#u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 152, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:453px;
  width:92px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u104.selected {
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(219, 94, 138, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:453px;
  width:62px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u105_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u105.selected {
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:453px;
  width:63px;
  height:21px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u106_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u106.selected {
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 123, 255, 0.996078431372549);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:75px;
  width:108px;
  height:40px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 33px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u107_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 123, 255, 0.996078431372549);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u107.mouseOver {
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:87px;
  width:16px;
  height:16px;
  display:flex;
  font-family:'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#A408BF;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
