body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:972px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u974 {
  position:absolute;
  left:-267px;
  top:-78px;
  visibility:hidden;
}
#u974_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1506px;
  height:1479px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u974_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u975 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:44px;
  width:1px;
  height:20px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.349019607843137);
}
#u975 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u975_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u976 {
  position:absolute;
  left:0px;
  top:1469px;
}
#u976_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u976_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u976_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:845px;
  height:156px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u976_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u977_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:center;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:23px;
  width:180px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:center;
}
#u977 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u977_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:center;
}
#u977.disabled {
}
#u978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:0px;
  width:157px;
  height:21px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u978 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u979_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:center;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:23px;
  width:180px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:center;
}
#u979 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u979_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:center;
}
#u979.disabled {
}
#u980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:0px;
  width:127px;
  height:21px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u980 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:35px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u981_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:35px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:center;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:121px;
  width:530px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:center;
}
#u981 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u981_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:center;
}
#u981.disabled {
}
#u982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:98px;
  width:108px;
  height:21px;
  display:flex;
  font-family:'B Yekan Bold', 'B Yekan', sans-serif;
  font-style:normal;
  text-align:right;
}
#u982 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u983_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  padding:2px 5px 2px 2px;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:center;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:180px;
  height:35px;
  display:flex;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:center;
}
#u983 .text {
  position:absolute;
  align-self:center;
  padding:2px 5px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u983_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:center;
}
#u983.disabled {
}
#u984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:0px;
  width:65px;
  height:21px;
  display:flex;
  font-family:'B Yekan Regular', 'B Yekan', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u984 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:1092px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:207px;
  width:1238px;
  height:1092px;
  display:flex;
  color:#FFC500;
}
#u985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:140px;
  background:inherit;
  background-color:rgba(0, 154, 126, 0.996078431372549);
  border:none;
  border-radius:55px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:114px;
  width:1238px;
  height:140px;
  display:flex;
  font-family:'Yekan Bakh FaNum SemiBold', 'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u986 .text {
  position:absolute;
  align-self:center;
  padding:0px 15px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
  text-align:right;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:289px;
  width:140px;
  height:20px;
  display:flex;
  font-family:'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
  text-align:right;
}
#u987 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:51px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:311px;
  width:991px;
  height:51px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u988 .text {
  position:absolute;
  align-self:center;
  padding:2px 30px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u988_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:51px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u988.mouseOver {
}
#u988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u989 label {
  left:0px;
  width:100%;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:330px;
  width:17px;
  height:16px;
  display:flex;
}
#u989 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u989_img.selected {
}
#u989.selected {
}
#u989_img.disabled {
}
#u989.disabled {
}
#u989_img.selectedDisabled {
}
#u989.selectedDisabled {
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:1px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u989_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:51px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:385px;
  width:991px;
  height:51px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u990 .text {
  position:absolute;
  align-self:center;
  padding:2px 30px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u990_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:51px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u990.mouseOver {
}
#u990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u991 label {
  left:0px;
  width:100%;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:404px;
  width:17px;
  height:16px;
  display:flex;
}
#u991 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u991_img.selected {
}
#u991.selected {
}
#u991_img.disabled {
}
#u991.disabled {
}
#u991_img.selectedDisabled {
}
#u991.selectedDisabled {
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:1px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u991_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:51px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:459px;
  width:991px;
  height:51px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u992 .text {
  position:absolute;
  align-self:center;
  padding:2px 30px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u992_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:51px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u992.mouseOver {
}
#u992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u993 label {
  left:0px;
  width:100%;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:479px;
  width:17px;
  height:16px;
  display:flex;
}
#u993 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u993_img.selected {
}
#u993.selected {
}
#u993_img.disabled {
}
#u993.disabled {
}
#u993_img.selectedDisabled {
}
#u993.selectedDisabled {
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:1px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u993_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:51px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:532px;
  width:991px;
  height:51px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u994 .text {
  position:absolute;
  align-self:center;
  padding:2px 30px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u994_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:51px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u994.mouseOver {
}
#u994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:51px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:606px;
  width:991px;
  height:51px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u995 .text {
  position:absolute;
  align-self:center;
  padding:2px 30px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u995_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:51px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u995.mouseOver {
}
#u995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:51px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:680px;
  width:991px;
  height:51px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u996 .text {
  position:absolute;
  align-self:center;
  padding:2px 30px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u996_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:51px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u996.mouseOver {
}
#u996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:51px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:754px;
  width:991px;
  height:51px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u997 .text {
  position:absolute;
  align-self:center;
  padding:2px 30px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u997_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:51px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u997.mouseOver {
}
#u997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:51px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:827px;
  width:991px;
  height:51px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u998 .text {
  position:absolute;
  align-self:center;
  padding:2px 30px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u998_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:51px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u998.mouseOver {
}
#u998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:51px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:901px;
  width:991px;
  height:51px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u999 .text {
  position:absolute;
  align-self:center;
  padding:2px 30px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u999_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:51px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u999.mouseOver {
}
#u999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1000 label {
  left:0px;
  width:100%;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:550px;
  width:17px;
  height:16px;
  display:flex;
}
#u1000 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1000_img.selected {
}
#u1000.selected {
}
#u1000_img.disabled {
}
#u1000.disabled {
}
#u1000_img.selectedDisabled {
}
#u1000.selectedDisabled {
}
#u1000_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:1px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1000_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1001 label {
  left:0px;
  width:100%;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:625px;
  width:17px;
  height:16px;
  display:flex;
}
#u1001 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1001_img.selected {
}
#u1001.selected {
}
#u1001_img.disabled {
}
#u1001.disabled {
}
#u1001_img.selectedDisabled {
}
#u1001.selectedDisabled {
}
#u1001_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:1px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1001_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1002 label {
  left:0px;
  width:100%;
}
#u1002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:698px;
  width:17px;
  height:16px;
  display:flex;
}
#u1002 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1002_img.selected {
}
#u1002.selected {
}
#u1002_img.disabled {
}
#u1002.disabled {
}
#u1002_img.selectedDisabled {
}
#u1002.selectedDisabled {
}
#u1002_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:1px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1002_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1003 label {
  left:0px;
  width:100%;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:772px;
  width:17px;
  height:16px;
  display:flex;
}
#u1003 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1003_img.selected {
}
#u1003.selected {
}
#u1003_img.disabled {
}
#u1003.disabled {
}
#u1003_img.selectedDisabled {
}
#u1003.selectedDisabled {
}
#u1003_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:1px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1003_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1004 label {
  left:0px;
  width:100%;
}
#u1004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:846px;
  width:17px;
  height:16px;
  display:flex;
}
#u1004 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1004_img.selected {
}
#u1004.selected {
}
#u1004_img.disabled {
}
#u1004.disabled {
}
#u1004_img.selectedDisabled {
}
#u1004.selectedDisabled {
}
#u1004_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:1px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1004_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1005 label {
  left:0px;
  width:100%;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:920px;
  width:17px;
  height:16px;
  display:flex;
}
#u1005 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1005_img.selected {
}
#u1005.selected {
}
#u1005_img.disabled {
}
#u1005.disabled {
}
#u1005_img.selectedDisabled {
}
#u1005.selectedDisabled {
}
#u1005_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:1px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1005_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:234px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.0666666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:right;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:1005px;
  width:1033px;
  height:234px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:right;
}
#u1006 .text {
  position:absolute;
  align-self:center;
  padding:2px 30px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1006_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:234px;
  background:inherit;
  background-color:rgba(254, 253, 246, 0.0666666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'B Yekan Bold', 'B Yekan', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#8C8C8C;
  text-align:right;
}
#u1006.mouseOver {
}
#u1006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
  text-align:right;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:1043px;
  width:255px;
  height:20px;
  display:flex;
  font-family:'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#8C8C8C;
  text-align:right;
}
#u1007 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1008_input {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:110px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1008_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:110px;
  padding:2px 2px 2px 2px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:1067px;
  width:941px;
  height:110px;
  display:flex;
}
#u1008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1008_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:110px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 228, 191, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1008.disabled {
}
#u1009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(80, 57, 83, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1319px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1009_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(80, 57, 83, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1009.mouseOver {
}
#u1009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:0px;
  width:16px;
  height:16px;
  display:flex;
  font-family:'Yekan Bakh FaNum Regular', 'Yekan Bakh FaNum', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#A408BF;
}
#u1010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
